<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="public/css/main.css" />
		<script src="public/js/jquery.min.js"></script>
	</head>
	<body>
		{% if userInfo._id %}
		<div>用户信息：</div>
		<div>
			<span id="userinfoName">{{ userInfo.username }}</span>
			<span id="userinfoPwd">{{ userInfo._id }}</span>
		</div>
		{% else %}
		<div>注册：</div>
		<div>
			<span>用户名：</span><input id="userName" type="text" />
			<span>密码：</span><input id="pwd" type="password" />
			<span>再次输入密码：</span><input id="repwd" type="password" />
			<input id="btn" type="button" value="注册" />
		</div>
		<div>登陆：</div>
		<div>
			<span>用户名：</span><input id="loginuserName" type="text" />
			<span>密码：</span><input id="loginpwd" type="password" />
			<input id="loginbtn" type="button" value="登陆" />
		</div>
		{% endif %}
		<div>
			<input type="button" value="退出" id="logout" />
		</div>
	</body>
	<script>
		$(function() {
			// 注册
			$('#btn').on('click', function() {
				$.ajax({
					type:"post",
					data: {
						username: $('#userName').val(),
						password: $('#pwd').val(),
						repassword: $('#repwd').val()
					},
					dataType: 'json',
					url:"/api/user/register",
					success: function(result) {
						console.log(result);
					}
				});
			});
			// 登陆
			$('#loginbtn').on('click', function() {
				$.ajax({
					type: 'post',
					data: {
						username: $('#loginuserName').val(),
						password: $('#loginpwd').val()
					},
					dataType: 'json',
					url: '/api/user/login',
					success: function(result) {
						console.log(result);
//						$('#userinfoName').html(result.userinfo.username);
//						$('#userinfoPwd').html(result.userinfo.password);
						if (!result.code) {
							// 登陆成功
							window.location.reload();
						}
					}
				});
			});
			// 退出
			$('#logout').on('click', function() {
				$.ajax({
					url: '/api/user/logout',
					success: function(result) {
						if (!result.code) {
							window.location.reload();
						}
					}
				});
			});
		});
	</script>
</html>
